<section class="main">
  <app-input [editingItem]="editingItem">
  </app-input>
  <div class="container">
    <div class="lista">
      <div class="header-lista">
        <h4 class="title-list">Lista de Compras</h4>
        <button class="btn-header" (click)="clearShoppingList()">
          <small>Limpar lista</small>
        </button>
      </div>
      <div *ngIf="shoppingList.length > 0; else noItem">
        <div *ngFor="let item of shoppingList">
          <app-item [item]="item" 
          (editItemEvent)="editItem($event)"
          (deleteItemEvent)="deleteItem($event)"></app-item>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #noItem>Não tem itens na lista</ng-template>
